<body>
  <!-- layout -->
  <header>
    <!-- navigation -->
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
            width="30" height="30" class="d-inline-block align-top" alt="好。吃">
          我的餐廳清單
        </a>
      </div>
    </nav>

    <div class="banner"></div>
    <link rel="stylesheet" href="/stylesheets/style-index.css">
    <link rel="stylesheet" href="stylesheets/style-show.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  </header>
  <!-- partial templates will replace the part of "body" here -->
  {{{ body }}}
  <!-- 使用script:src標籤會產生<script src=""></script> -->
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrapt.js"></script>
</body>